* {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.marker {
  background: rgba(255, 0, 0, .05);
  border-radius: 50%;
  animation-name: 'marker';
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes marker {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

#box {
  width: 100%;
  max-width: 350px;
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 15px;
}

#box>h1 {
  font-family: 'adelle', 'Georgia', serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff8f0;
  text-shadow: 0 1px 2px #009688;
}

#box>h2 {
  font-family: 'adelle', 'Georgia', serif;
  font-weight: normal;
  font-size: 16px;
  color: #00695C;
  margin-bottom: 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

#box>p {
  font-family: 'jubilat', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #00695C;
  margin-bottom: 15px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

a { color: #004D40; }

@media (max-width: 960px) {
  #box {
    width: 90%;
    max-width: 90%;
    left: 0;
    bottom: 0;
  }

  #box>h1 { font-size: 20px; }
  #box>h2 { font-size: 12px; }
  #box>p { font-size: 12px; }
  #box>#extra { display: none; }
}
